/* COLOR PALETTE 
PINK: #fb9aac
CREAM: #f6f5e1
*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	outline: none;
}

.container {
	text-align: center;
}

/* TITLE */
.title {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* BUTTONS */
.buttons-container {
	margin: 25px;
	display: flex;
	gap: 15px;
	justify-content: center;
}

.btn {
	padding: 10px;
	width: 120px;
	height: 60px;
	border-radius: 15px;
	border: none;
	background-color: #fbc4bf;
	font-size: 15px;
	cursor: pointer;
	box-shadow: 0 9px #fbaca5;
}

.btn:hover {
	background-color: #fabdb8;
}

.btn:active {
	background-color: #fabdb8;
	box-shadow: 0 5px #fbaca5;
	transform: translateY(4px);
}

/* SCORE DISPLAY */
.score-display {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 150px;
}

/* GAME */

body {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #fb9aac;
}

.container {
	position: absolute;
	background: white;
	padding: 60px 50px;
	border-radius: 18px;
	border: 2px solid none;
	background-color: #f6f5e1;
	/*fix box shadow to be even all around div*/
	box-shadow: 4px 4px 10px #f7748c, -4px -4px 10px #f7748c;
}

/* POPUP */
.end-game-popup {
	width: 400px;
	height: 150px;
	padding: 20px;
	background: #fdd2ce;
	border-radius: 20px;
	position: absolute;
	transform: scale(0.1);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;
	visibility: hidden;
}

.open-popup {
	visibility: visible;
	transform: scale(1);
	transition: 0.5s;
}

.winner-text {
	font-size: 18px;
	margin-top: 17px;
}

.play-again-btn {
	border-radius: 12px;
	padding: 8px;
	border: none;
	outline: none;
	background-color: #f8f7ed;
	cursor: pointer;
	box-shadow: 0 9px #e8e8de;
}
.play-again-btn:hover {
	background-color: rgb(247, 245, 228);
}

.play-again-btn:active {
	box-shadow: 0 5px #e8e8de;
	transform: translateY(4px);
}

.is-blurred {
	-webkit-filter: blur(2px);
	filter: blur(2px);
}
